.App {
  text-align: center;
}

.boardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: center;
  align-content: center;
  width: 70%;
}
.padDiv {
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
  border: lightslategray solid 1px;
  border-radius: 10px;
  box-shadow: black 0 0 5px;
}
