.App {
  text-align: center;
}

.boardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.progressBar {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: darkgrey;
}

/* pad styling */
.padDiv-off {
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
  border: lightslategray solid 1px;
  border-radius: 10px;
  box-shadow: red 0 0 18px;
  background-color: gray;
}

.padDiv-off:hover {
  background-color: orange;
  cursor: pointer;
}

.padDiv-pending {
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
  border: lightslategray solid 1px;
  border-radius: 10px;
  box-shadow: black 0 0 5px;
  background-color: coral;
}
.padDiv-pending:hover {
  background-color: firebrick;
  cursor: pointer;
}

.padDiv-on {
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
  border: lightslategray solid 1px;
  border-radius: 10px;
  box-shadow: rgb(11, 177, 11) 0 0 18px;
  background-color: lime;
}

.padDiv-on:hover {
  background-color: rgb(162, 209, 101);
  cursor: pointer;
}

.onOffText {
  box-shadow: inset 0 0 3px 0.5px black, 1px 1px 7px 0px black,
    1px 1px 10px 1px rgba(202, 145, 143, 0);
}

.headerTitle {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
}

/* record controls */
.startRecButton {
  border-radius: 20px;
  cursor: pointer;
}

.stopRecButton {
  border-radius: 20px;
  cursor: pointer;
}

.audioPlayer {
  cursor: pointer;
  height: 30px;
}

.isRecording {
  background-color: red;
  width: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  border-radius: 20px;
}

.mainRecordButton {
  border-radius: 20px;
  background-color: rgb(58, 58, 187);
  color: #fff;
  height: 30px;
}

.recordControlButtons {
  margin: 5px;
}
/* css when open in phone */
@media only screen and (max-width: 768px) {
  .boardContainer {
    height: 50vh;
  }
  .padDiv-off {
    width: 70px;
    height: 70px;
  }
  .padDiv-off > h3 {
    font-size: 10px;
  }
  .padDiv-off > h3 > img {
    width: 20px;
    height: 20px;
  }
  .padDiv-pending {
    width: 70px;
    height: 70px;
  }
  .padDiv-pending > h3 {
    font-size: 10px;
  }
  .padDiv-pending > h3 > img {
    width: 20px;
    height: 20px;
  }
  .padDiv-on {
    width: 70px;
    height: 70px;
  }
  .padDiv-on > h3 {
    font-size: 10px;
    margin-bottom: 1px;
  }
  .padDiv-on > h3 > img {
    width: 20px;
    height: 20px;
  }
  .progressBar {
    margin-top: 0;
  }
  .headerTitle {
    font-size: 20px;
  }
}
