.App {
  text-align: center;
  background-color: steelblue;
  background-size: cover;
}

.boardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: center;
  align-content: center;
  width: 70%;
}
.padDiv {
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
  border: lightslategray solid 1px;
  border-radius: 10px;
  box-shadow: black 0 0 5px;
  background-color: rosybrown;
}

input[type="checkbox"] {
  transform: scale(1.5);
}
